Repository phyter1/tts-cli: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# Lefthook configuration for TTS CLI
# Runs quality checks before commits and pushes

# Git hooks configuration
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx biome check --no-errors-on-unmatched {staged_files}
      stage_fixed: true
      
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true

    typecheck:
      run: bunx tsc --noEmit
      skip:
        - merge
        - rebase

pre-push:
  parallel: false
  commands:
    lint-all:
      run: bunx biome check src/ tests/
      fail_text: "‚ùå Linting failed. Run 'bunx biome check --write src/ tests/' to fix."
      
    typecheck:
      run: bunx tsc --noEmit
      fail_text: "‚ùå TypeScript errors found. Please fix type errors before pushing."
      
    test:
      run: bun test
      fail_text: "‚ùå Tests failed. Please fix failing tests before pushing."
      
    test-coverage:
      run: |
        echo "Running test coverage..."
        output=$(bun test --coverage 2>&1)
        coverage=$(echo "$output" | grep "All files" | awk -F'|' '{print $3}' | tr -d ' ')
        if [ -z "$coverage" ]; then
          echo "‚ö†Ô∏è  Could not determine test coverage"
          exit 0
        fi
        echo "üìä Test coverage: ${coverage}"
        coverage_int=$(echo "$coverage" | cut -d. -f1)
        if [ "$coverage_int" -lt 50 ]; then
          echo "‚ùå Test coverage is below 50% (current: ${coverage})"
          echo "Please improve test coverage before pushing."
          exit 1
        fi
        echo "‚úÖ Test coverage is acceptable (${coverage})"
      fail_text: "‚ùå Test coverage is too low."

    bundle-size:
      run: |
        echo "Checking bundle size..."
        if [ -f dist/tts ]; then
          size=$(du -sh dist/tts | cut -f1)
          echo "üì¶ Bundle size: $size"
          size_mb=$(du -m dist/tts | cut -f1)
          if [ "$size_mb" -gt 100 ]; then
            echo "‚ö†Ô∏è  Warning: Bundle size is large ($size). Consider optimizing."
          else
            echo "‚úÖ Bundle size is acceptable ($size)"
          fi
        else
          echo "‚ö†Ô∏è  No bundle found. Run 'bun run build' to create one."
        fi
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    conventional:
      run: |
        # Check if commit message follows conventional commits format
        pattern="^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .{1,}"
        if ! grep -qE "$pattern" "{1}"; then
          echo "‚ùå Commit message must follow Conventional Commits format!"
          echo ""
          echo "Format: <type>(<scope>): <subject>"
          echo ""
          echo "Types:"
          echo "  feat:     New feature"
          echo "  fix:      Bug fix"
          echo "  docs:     Documentation only"
          echo "  style:    Code style changes"
          echo "  refactor: Code refactoring"
          echo "  test:     Test changes"
          echo "  chore:    Build process or auxiliary tool changes"
          echo "  perf:     Performance improvements"
          echo "  ci:       CI configuration changes"
          echo "  build:    Build system changes"
          echo "  revert:   Revert previous commit"
          echo ""
          echo "Example: feat(cli): add support for new voice options"
          exit 1
        fi

# Color output
colors: true

fix: correct biome format command in github actions
  .github/workflows/code-quality.yml
Due: none

fix: resolve CI test timeout issues
  .claude/.gitkeep
  .claude/.readme-changes
  tests/errors.test.ts
  tests/integration.test.ts
Due: lint, format

fix: add missing bun install step in bundle size CI job
  .github/workflows/code-quality.yml
Due: none

fix: configure trufflehog for filesystem scanning instead of git diff
  .github/workflows/security.yml
Due: none

fix: remove invalid --no-update flag from trufflehog
  .github/workflows/security.yml
Due: none

docs: add comprehensive security badges and documentation
  README.md
Due: format

docs: update README.md documentation
  README.md
Due: format

Remove FOSSA Status badge from README
  README.md
Due: format

feat: add version 1.0.0 to package.json
  package.json
Due: format

feat: add version 1.0.0 to package.json
  src/lib.ts
  tests/audio.test.ts
  tests/errors.test.ts
  tests/integration.test.ts
  tests/parseArgs.test.ts
Due: lint, format

fix: README
  .gitignore
Due: none

docs: update README.md
  README.md
Due: format

fix: adapt extremely long text test for CI environments
  tests/errors.test.ts
Due: lint, format

chore: clean up .claude directory and update .gitignore
  .claude/.gitkeep
  .claude/.readme-changes
  .gitignore
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: remove broken installer links and invalid badges from README
  README.md
Due: format

feat: add prebuilt installers and download links to README
  README.md
Due: format

docs: add contributing guidelines
  CONTRIBUTING.md
Due: format

feat(cache): add TTS caching system for improved performance
  src/cache.ts
  src/index.ts
  src/lib.ts
Due: lint, format

fix: address code review feedback for TTS caching system
  .claude/.readme-changes
  src/cache.test.ts
  src/cache.ts
  src/lib.ts
Due: lint, format

Update copyright year in README.md
  README.md
Due: format
